

 
body
{
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background-color: blue;
    padding: 50px 0;

   
}
main
{
    background-color: rgb(166, 126, 32);
}

footer
{
    background-color: rgb(19, 113, 47);
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
}
.clear { clear: both; height: 60px; }

.wrapper
{
    min-width: 500px;
    width: 80%;
    margin: auto;
}
h1, h2, h3, h4, h5, h6
{
    color: white;
    margin: 0px;
}



